.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.title {
  font-family: 'Balsamiq Sans', cursive;
  display: inline-block;
  font-size: 25px;
  margin: 0;
}